
.maindiv{
  display:flex;
  flex-direction: column;
  align-items: center;
  
  height:100vh;
  color:white;
  width:100vw;
  background-color: #0f1b21;
}
.innerdiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
span{
  color:#26ffcb;
}
.outer{
  display:flex;
}
.inner{
  height:80px;
  width:80px;
  border-width: 2px; 
  border-style: solid; 
  border-color:#0f1b21; 
  border-radius: 12px;
  margin:2px;
  background-color:#1f3540;
  display:flex;
  flex-direction: column;
  font-size:25px;
  
  justify-content:center;
  text-align: center;
}
.reset button{
  height:35px;
  width:100px;
  border-radius:30px;
  margin-top:30px;
 
  
  color:black;
  font-size: 18px;
  font-weight: 40px;
  background-color: #26ffcb;
}

.output{
  font-size: 40px;
  font-style: initial;
  padding:100px;
  color:#26ffcb;
}